<% quote = Quote.key("proceedings_mentors_#{@offering.id.to_s}").random %>

<% unless quote.empty?; quote = quote.first %>
	<div class="mentor_awards box grey" id="mentor_awards">

		<h2>Outstanding Mentor Spotlight</h2>
		
		<%= image_tag quote.picture.small.url, :align => 'right' if quote.picture %>

		<span class="quotation_mark">&ldquo;</span>
		<p><%= quote.quote %></p>
	
		<p><%= link_to "Read about other outstanding mentors...", :action => 'mentor_awards' %></p>
	
	</div>
<% end -%>