<% @current_session_group = nil; @current_session_type = nil %>

<% for result in sorted_abstracts %>
	<% if @current_session_group != result.offering_session.try(:session_group) || @current_session_type != result.application_type %>
		<div class="session_heading">
			<%= "<h2>#{result.application_type.try(:title)} #{result.offering_session.try(:session_group)}</h2>" %>
			<%= "<h4 class=\"time\">#{result.offering_session.try(:time_detail)}</h4>" if result.offering_session %>
		</div>

		<% @current_session_group = result.offering_session.try(:session_group); @current_session_type = result.application_type %>
	<% end -%>

	<%= render :partial => 'apply/proceedings/abstract', :object => result, :locals => { :query_strings => @query_strings } %>
<% end -%>
