<% title @page_title_prefix, "#{@app.fullname}" %>

<% content_for :left_sidebar do %>
	<ul class="link-list">
		<!-- <li><%= link_to "Print this abstract", {:format => :pdf}, :class => "icon-left pdf" %></li> -->
		<li><%= link_to "Return to Proceedings Home", @header_link %></li>
		<%= render :partial => "apply/proceedings/favorite_abstracts" %>
	</ul>
<% end -%>

<%= render :partial => "abstract", :object => @app %>
