<h1>New organization</h1>

<%= error_messages_for :organization %>

<% form_for(@organization, :url => service_learning_organizations_path(@unit, @quarter)) do |f| %>

	<%= render :partial => "admin/organizations/fields", :locals => { :f => f, :admin => true } %>

    <%= f.submit "Create" %>

<% end %>

<%= link_to 'Back', service_learning_organizations_path(@unit, @quarter) %>
