<h3><strong class="icon-left report">Detailed Reports</strong></h3>

<ul class="link-list">
	
	<% for year in @years.reverse %>
		<li><%= link_to "#{year.to_s} #{content_tag(:strong, "DRAFT", :class => 'red tag') if @draft_years.include?(year)}",
		 				accountability_year_path(year) %></li>
	<% end -%>
	
</ul>