<h1><%= @organization_contact.fullname %></h1>

<%= render :partial => "admin/organizations/contacts/details" %>

<%= link_to 'Edit', edit_community_partner_service_learning_organization_contact_path(@quarter, @organization_contact) %> |
<%= link_to 'Back', community_partner_service_learning_organization_contacts_path(@quarter) %>
