<h1>New Committee Member
	<span class="light">&raquo; <%= @committee.name %></span></h1>
	
<% form_for :member, @member, :url => admin_committee_members_path(@committee) do |f| %>
	<%= f.error_messages %>
	
	<dl class="inline-definitions">
		<%= render :partial => "fields", :locals => { :f => f } %>
	</dl>

	<%= f.submit "Create", :disable_with => "Creating..." %>
	
<% end -%>

<% sidebar :add_member_instruction %>
