<table>

	<tr>
		<th>Interview Start Time</th>
		<th>Location</th>
		<th>Student Name</th>
		<th>Interview Committee Members</th>
		<th>Decision</th>
		<th>Edit</th>
	</tr>

	<%= render :partial => "interview", :collection => @offering.interviews %>

</table>
