<h3>Edit Interview Time</h3>

<%= error_messages_for :offering_interview %>

<% form_for :offering_interview, @interview, :url => { :action => "update", :id => @interview} do |f| %>

	<%= render :partial => "form", :locals => { :f => f } %>
	<%= f.submit "Update Interview Details" %>
	
<% end %>