<h3>
	Interview Times
	<span class="right"><%= link_to "Add New", :action => "new" %></span>
	</h3>

<div id="interviews">

<%= render :partial => 'interview_list' %>

</div>

<% sidebar :quick_access %>
<% sidebar :print_availabilities, :class => "print" %>