<h3>Restriction Exemptions</h3>

<ul class="link-list">
	<li><%= link_to "View and edit exemptions (#{@restriction.exemptions.size})", offering_restriction_exemptions_path(@offering, @restriction)%></li>
</ul>