<h3>Quick Links</h3>

<ul class="link-list">
	
	<li><%= link_to "Events", events_url, :class => "icon-left calendar" %></li>
	<li><%= link_to "Participation Overview", admin_stats_overview_url, :class => 'icon-left report' %></li>

</ul>