<h1>New location</h1>

<%= error_messages_for :location %>

<% form_for(@location) do |f| %>
	<%= render :partial => "fields", :locals => { :f => f } %>
<% end %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', locations_path %>
