<h1>View and Approve Student General Study Position <%= "<span class='green tag'>supervisor_approved</span>" if @general_study.supervisor_approved? %></h1>

<%= render :partial => "service_learning/self_placement_fields" %><br>

<%= link_to "&#x2190; Back to Student Listing", community_partner_service_learning_general_study_path(:action => 'students', :quarter_abbrev => @quarter) %>

<% sidebar :approval unless @general_study.supervisor_approved? %>