
.DS_Store

config/certs
config/database.yml
config/uwca.crt
config/email.yml

/files
/javascripts
/stylesheets
/public/images/shared/

log/

tmp/

.svn/

.bundle\n

# for dislayed job and performance testing
config/initializers/delayed_job_config.rb
db/migrate/20131014235316_create_delayed_jobs.rb
script/delayed_job
vendor/plugins/delayed_job/
config/trample.rb

