<h3>Confirm Data Entered</h3>

<center>
<% form_tag({ :action => "submit" }) do %>	
	<p>By clicking Submit and Continue, your data will be saved in the system. When you are finished entering all data for your unit, please click on the Submit button, below. </p>		
	<%= submit_tag "Save and Continue" %><br>
	<p>By clicking the "Submit" button, I confirm all of available data has been entered for <%= @department.name %>.</p>	
	<%= submit_tag "Submit", :class => "red", :confirm => "Are you sure?" %><br>
	<p class="caption">A notification email will be sent to other coordinators and the accountability administrator.</p>	
<% end -%>
</center>
