	
	<% for time in @event.times.sort %>
		<tr class="rowset-header">
			<td colspan=20><%= link_to time.time_detail, event_time_path(@event, time) %></td>
		</tr>
	
		<%= render :partial => "admin/events/times/invitees", 
					:locals => { :time => time, :invitees => time.invitees.sort{|x,y| (y.attending? ? 1 : 0) <=> (x.attending? ? 1 : 0) }} %>	
	<% end -%>
	
