<h1>Exemptions
	<span class="light right"><%= link_to "Add new exemption", new_offering_restriction_exemption_path(@offering, @restriction), :class => "add button" %></span></h1>

<%= form_tag admin_communicate_write_email_url, :id => 'exemptions_form' %>

<table>
	<tr>
		<th>Person</th>
		<th>Note</th>
		<th>Valid Until</th>
		<th colspan=3>Functions</th>
	</tr>
	
	<%= render :partial => 'exemption', :collection => @exemptions %>

	<% if @exemptions.empty? %>
	<tr class="empty">
		<td colspan=10>No exemptions exist. <%= link_to "Create one.", new_offering_restriction_exemption_path(@offering, @restriction) %></td>
	</tr>
	<% end %>

</table>

</form>