<div id="new_phase_task" style="display:none">
	
	<% form_for :new_phase_task, :url => { :action => "new_phase_task", :id => @phase } do |f| %>
	
		Add new task:
		<br>
		<%= f.text_field :title %>
	
		<%= f.submit "Add", :disable_with => 'Adding...' %>
	
	<% end -%>
	
</div>