<div id="tasks">
	
	<% if @phase.tasks.empty? %>

		<table>
			<tr class="empty"><td>No tasks for this phase.</td></tr>
		</table>

	<% else -%>

		<% form_remote_tag	:url => mass_update_admin_apply_phase_tasks_path(@offering, @phase), 
							:update => 'tasks_table',
							:complete => visual_effect(:highlight, 'save_note') do |f| %>

		<table id="tasks_table">
			<%= render :partial => "admin/apply/phases/tasks/sidebar_task", :collection => @phase.tasks, :locals => { :f => f } %>
		</table>
	
		<%#= sortable_element "tasks_table", :url => {:action => 'sort_phase_tasks', :id => @phase}, :handle => 'sort-handle', :tag => "tr" %>
	
		<br>

		<center>
			<%= submit_tag "Save" %>
			<div class="autosave" id="save_note"></div>
		</center>
	
		<% end -%>
	
	<% end -%>
	
</div>