<h1>Listing extra_enrollees</h1>

<table>
  <tr>
  </tr>

<% for extra_enrollee in @extra_enrollees %>
  <tr>
    <td><%= link_to 'Show', extra_enrollee %></td>
    <td><%= link_to 'Edit', edit_extra_enrollee_path(extra_enrollee) %></td>
    <td><%= link_to 'Destroy', extra_enrollee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New extra_enrollee', new_extra_enrollee_path %>
