<div class="big-border box">
	
<h4 class="icon-left info">Quick links</h4>

<ul class="link-list">
	<li><%= link_to "Full opportunities list", research_opportunity_path, :class => 'icon-left list' %></li>
</ul>

</div>