<h1>UW Faculty/Mentor Research Opportunity Submission Review</h1>

<%= HelpText.caption :research_oppourtunity_submit, ResearchOpportunity %>

<%= render :partial => "fields" %>

<br>

<% unless @research_opportunity.submitted? %>

	<% form_tag do %>
		<%= submit_tag "Back to edit", :disable_with => 'Back to editing...' %>
		<span class="separator"> – or – </span>
		<%= submit_tag "Submit opportunity", :disable_with => 'Submitting...' %>
	<% end %>
	
<% end %>	