<h3>Organization Contacts
	<span><%= link_to "edit", community_partner_service_learning_organization_contacts_path(@quarter) %></span></h3>

<ul class="link-list">
<% for contact in @organization.contacts %>
	<li><%= link_to contact.fullname,
		 	community_partner_service_learning_organization_contact_path(@quarter, contact),
		 	:class => "icon-left organization_contact" %>
	</li>
<% end -%>
</ul>