<% content_tag('ul') do %>
	<% for student in @students %>
	<li id="student_record_<%= student.system_key %>">
		<span class="primary"><%= highlight(student.fullname, highlight_phrase) %></span>
		<span class="secondary"><%= student.student_no %>, <%= student.class_standing_description %></span>
	</li>
	<% end -%>
	
	<% if @students.empty? %>
	<li id="advanced_search_-1">
		<span class="primary">No results.</span>
	</li>
	<% end -%>
	
<% end -%>