<%- if @students.blank? -%>

	<tr class="empty">
		<td colspan=2>
			Could not find a student by that name.
		</td>
	</tr>

<%- else -%>

	<tr>
		<th>Photo</th>
		<th>Name</th>
		<th>Student No.</th>
		<th>Class Standing</th>
		<th>Major(s)</th>
		<th>E-mail</th>
		<th>Details</th>
	</tr>
	<%= render :partial => "student", :collection => @students, :locals => { :highlight_phrase => highlight_phrase} %>
	
<% end -%>