<h1>Results</h1>

<% if @results %>
	<table>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Student No.</th>
			<th>Class</th>
			<th>Major(s)</th>
			<th>E-mail</th>
			<th>Details</th>
		</tr>
		
		<%= render :partial => "student", :collection => @results, :locals => { :highlight_phrase => params[:search] } %>
	</table>
<% end -%>

<% sidebar :search %>