<h1>Edit Committee</h1>

<dl class="inline-definitions">
	
	<% form_for @committee, :url => { :action => 'update' } do |f| %>
		
		<%= render :partial => "form", :locals => { :f => f } %>
		
		<%= f.submit "Save", :disable_with => "Saving..." %>
		
	<% end -%>
</dl>