<h3>Pages
	<span class="right light"><%= link_to "see all", offering_pages_path(@offering) %></span>
	</h3>

<ul class="link-list">
	
	<% for page in @offering.pages.sort %>
	<li <%= "class='current'" if @page == page %>>
		<%= link_to "<small class='light'>#{page.ordering}</small> #{page.title}", 
					offering_page_path(@offering, page) %>
	</li>
	<% end -%>
	
</ul>