/* @override 
	http://localhost:3000/stylesheets/iphone.css?1262630991
	http://localhost:3000/stylesheets/iui.css?1254795525
	http://localhost:3000/stylesheets/iui.css?1274200651
	http://localhost:3000/stylesheets/iui.css?1274200804
	http://localhost:3000/stylesheets/iui.css?1274327653
	http://localhost:3000/stylesheets/iphone.css?1274327854
	http://localhost:3000/stylesheets/iphone.css?1274328140
	http://localhost:3000/stylesheets/iphone.css?1274329440
	http://localhost:3000/stylesheets/iphone.css?1274329920
	http://localhost:3000/stylesheets/iphone.css?1274330341
	http://localhost:3000/stylesheets/iphone.css?1274331533
	http://localhost:3000/stylesheets/iphone.css?1274368117
	http://localhost:3000/stylesheets/iphone.css?1274382787
	http://localhost:3000/stylesheets/iphone.css?1274460942
	http://localhost:3000/stylesheets/iphone.css?1274462931
	http://localhost:3000/stylesheets/iphone.css?1274464592
*/

body {
	text-align: left;
	font-size: 120%;
}

div.auto_complete {
	width: inherit;
	background: #fff;
}

div.auto_complete ul {
	width: inherit;
}

.auto_complete ul li .primary {
	font-weight: bold;
}

.auto_complete .highlight {
  margin:0;
  padding:0;
  background: #d8dfea;
}

.full.indicator {
	background: #fff;
	padding: 5px;
	width: inherit;
}

.full.indicator img {
	margin-right: 10px;
}

.row.left {
	text-align: left;
}

/* iui.css (c) 2007-9 by iUI Project Members, see LICENSE.txt for license */

body {
	margin: 0;
	font-family: Helvetica;
	background: #FFFFFF;
	color: #000000;
	overflow-x: hidden;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
}

body > *:not(.toolbar) {
	display: none;
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	top: 45px;
	width: 100%;
	min-height: 372px;
	-webkit-transition-duration: 300ms;
	-webkit-transition-property: -webkit-transform;
	-webkit-transform: translateX(0%);
}

body[orient="landscape"] > *:not(.toolbar) {
	min-height: 268px;
}

body > *[selected="true"] {
	display: block;
}

a[selected], a:active {
	background-color: #194fdb !important;
	background-image: url(../images/iui/listArrowSel.png), url(../images/iui/selection.png) !important;
	background-repeat: no-repeat, repeat-x;
	background-position: right center, left top;
	color: #FFFFFF !important;
}

a[selected="progress"] {
	background-image: url(../images/iui/loading.gif), url(../images/iui/selection.png) !important;
}

/************************************************************************************************/

body > .toolbar {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom: 1px solid #2d3642;
	border-top: 1px solid #6d84a2;
	padding: 10px;
	height: 45px;
	background: url(../images/iui/toolbar.png) #6d84a2 repeat-x;
}

.toolbar > h1 {
	position: absolute;
	overflow: hidden;
	left: 50%;
	margin: 1px 0 0 -75px;
	height: 45px;
	font-size: 20px;
	width: 150px;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #FFFFFF;
}

body[orient="landscape"] > .toolbar > h1 {
	margin-left: -125px;
	width: 250px;
}

.button {
	position: absolute;
	overflow: hidden;
	top: 8px;
	right: 6px;
	margin: 0;
	border-width: 0 5px;
	padding: 0 3px;
	width: auto;
	height: 30px;
	line-height: 30px;
	font-family: inherit;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	background: none;
	-webkit-border-image: url(../images/iui/toolButton.png) 0 5 0 5;
}

.blueButton {
	-webkit-border-image: url(../images/iui/blueButton.png) 0 5 0 5;
	border-width: 0 5px;
}

.leftButton {
	left: 6px;
	right: auto;
}

#backButton {
	display: none;
	left: 6px;
	right: auto;
	padding: 0;
	max-width: 55px;
	border-width: 0 8px 0 14px;
	-webkit-border-image: url(../images/iui/backButton.png) 0 8 0 14;
}

.whiteButton,
.redButton,
.grayButton {
	display: block;
	border-width: 0 12px;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-decoration: inherit;
	color: inherit;
}

.whiteButton {
	-webkit-border-image: url(../images/iui/whiteButton.png) 0 12 0 12;
	text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}

.redButton {
	-webkit-border-image: url(../images/iui/redButton.png) 0 12 0 12;
	color: #fff;
	text-shadow: #7a0001 0 -1px 0;
}

.grayButton {
	-webkit-border-image: url(../images/iui/grayButton.png) 0 12 0 12;
	color: #FFFFFF;
}

.fullButton, a.add_favorite {
	margin: 12px;
	padding: 10px;
	background: #fff;
	display: block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid #999999;
	font-size: 16px;
	font-weight: bold;
	color: #6d84a2;
	text-decoration: none;
	text-align: center;
}

.clear-button {
	float: right;
	position: absolute;
	right: 15px;
	top: 25px;
	background-image: url(../images/iui/cancel.png);
	height: 20px;
	width: 20px;
	text-indent: -999px;
}

.white-background {
	background: #fff;
}

.green {
	color: green;
}

.red {
	color: red;
}

/************************************************************************************************/

ul.link-list {
	margin: 0;
	padding: 0;
}

ul.link-list > li {
	position: relative;
	margin: 0;
	border-bottom: 1px solid #E0E0E0;
	padding: 8px 0 8px 10px;
	font-size: 20px;
	font-weight: bold;
	list-style: none;
}

ul.link-list.small > li {
	font-size: 16px;
	font-weight: normal;
}

ul.link-list > li:last-child {
	border-bottom: none !important;
}


ul.link-list > li.group {
	position: relative;
	top: -1px;
	margin-bottom: -2px;
	border-top: 1px solid #7d7d7d;
	border-bottom: 1px solid #999999;
	padding: 1px 10px;
	background: url(../images/iui/listGroup.png) repeat-x;
	font-size: 17px;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
	color: #FFFFFF;
}

ul.link-list > li.group:first-child {
	top: 0;
	border-top: none;
}

ul.link-list > li > a {
	display: block;
	margin: -8px 0 -8px -10px;
	padding: 8px 32px 8px 10px;
	text-decoration: none;
	color: inherit;
	background: url(../images/iui/listArrow.png) no-repeat right center;
}

ul.bulletless {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.bulletless li {
	padding-bottom: 0.5em;
}

a[target="_replace"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 18px;
	color: cornflowerblue;
	background-color: #FFFFFF;
	background-image: none;
}

/************************************************************************************************/

body > .dialog {
	top: 0;
	width: 100%;
	min-height: 417px;
	z-index: 2;
	background: rgba(0, 0, 0, 0.8);
	padding: 0;
	text-align: right;
}

.nonmodal-dialog {
	width: 100%;
	z-index: 2;
	background: rgba(0, 0, 0, 0.8);
}

.dialog > fieldset, fieldset.dialog {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	margin: 0;
	border: none;
	border-top: 1px solid #6d84a2;
	padding: 10px 6px;
	background: url(../images/iui/toolbar.png) #7388a5 repeat-x;
}

.dialog > fieldset > h1 {
	margin: 0 10px 0 10px;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
	text-align: center;
}

.dialog > fieldset > label, fieldset.dialog > label {
	position: absolute;
	margin: 16px 0 0 6px;
	font-size: 14px;
	color: #999999;
}

input:not(input[type|=radio]):not(input[type|=checkbox]), select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	margin: 8px 0 0 0;
	padding: 6px 6px 6px 6.5em;
	font-size: 16px;
	font-weight: normal;
}

input#invitee_fullname {
	padding-left: 3em;
}

/************************************************************************************************/

.panel {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;
	margin: 10px;
	background: #c8c8c8 url(../images/iui/pinstripes.png);
	text-align: center;
}

.panel > fieldset {
	position: relative;
	margin: 0 0 20px 0;
	padding: 0;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid #999999;
	/*text-align: right;*/
	font-size: 16px;
	margin: 10px;
}

.panel > fieldset .block {
	padding: 10px;
}

.panel > small {
	margin-left:10px;
	font-size:0.7em;
}

a.uwnetid_link {	
	text-decoration: none;
	display: inline-block;
	margin: 0.25em 1em 0.5em;
}

a.uwnetid_link #uwnetid_logo {
	background-image: url(../images/app/weblogin-logo.gif);
/*	min-width: 198px;*/
	width: 198px;
	padding-top: 60px;
	margin-top:5px;
	background-position-x: 10px;
}


#login_button {
	padding:1em;
	font-size:1em;
}

#uwnetid_button{
    padding: 1em 2em 1em 1em !important;
    color: white;
    border: 1px solid transparent;
    margin-bottom: 8px;
    background-image: none;
    background: url(../images/icons/simple_admin/ic_right.png) no-repeat right;
    background-color: #D14836;
    font-size: 1em;
}

.row {
	position: relative;
	min-height: 42px;
	border-bottom: 1px solid #999999;
	-webkit-border-radius: 0;
}

fieldset > .row:last-child {
	border-bottom: none !important;
}

.row > input:not(input[type|=radio]):not(input[type|=checkbox]) {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	border: none;
	padding: 12px 10px 0 110px;
	height: 42px;
	background: none;
}

.row > input[type|=radio], .row > input[type|=checkbox] {
	margin: 7px 7px 0 0;
	height: 25px;
	width: 25px;
}

.row > label {
/*	position: absolute;*/
	margin: 0 0 0 14px;
	line-height: 42px;
	font-weight: bold;
}

.row > span {
	position: relative;
	padding: 12px 10px 12px 110px;
	margin: 0;
	display: block;
}

.row > .toggle {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 100px;
	height: 28px;
}

.toggle {
	border: 1px solid #888888;
	-webkit-border-radius: 6px;
	background: #FFFFFF url(../images/iui/toggle.png) repeat-x;
	font-size: 19px;
	font-weight: bold;
	line-height: 30px;
}

.toggle[toggled="true"] {
	border: 1px solid #143fae;
	background: #194fdb url(../images/iui/toggleOn.png) repeat-x;
}

.toggleOn {
	display: none;
	position: absolute;
	width: 60px;
	text-align: center;
	left: 0;
	top: 0;
	color: #FFFFFF;
	text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
}

.toggleOff {
	position: absolute;
	width: 60px;
	text-align: center;
	right: 0;
	top: 0;
	color: #666666;
}

.toggle[toggled="true"] > .toggleOn {
	display: block;
}

.toggle[toggled="true"] > .toggleOff {
	display: none;
}

.thumb {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 40px;
	height: 28px;
	border: 1px solid #888888;
	-webkit-border-radius: 6px;
	background: #ffffff url(../images/iui/thumb.png) repeat-x;
}

.toggle[toggled="true"] > .thumb {
	left: auto;
	right: -1px;
}

.panel > h2 {
	margin: 18px 0 12px 14px;
	font-size: inherit;
	font-weight: bold;
	color: #4d4d70;
	text-shadow: rgba(255, 255, 255, 0.75) 1px 1px 0;
	text-align:center;
	
}

.proceedings .session_identifier {
	padding: 0;
	color: #07b;
	width: 3em;
	left: 10px;
	line-height: 200%;
	text-indent: 0;
	min-height: 35px;
	position: absolute;
	text-align: center;
	float: left;
	background: #e5f4ff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 90%;
	font-weight: bold;
}

.proceedings .sessions_list a {
	padding-left: 4em;
	min-height: 35px;
}

.proceedings .panel h2.session_title {
	padding-left: 3.5em;
	margin-right: 10px;
	min-height: 2em;
	margin-bottom: 12px;
	font-size: 130%;
}

.proceedings.offering_session .panel {
	padding-top: 10px;
}

.proceedings h1.title {
	display: block;
	background: #7fb439 url(../images/symposium/2020/proceedings-iphone.png) no-repeat;
	background-size: 400px 75px;
	text-indent: -1000px;
	height: 75px;
	border-bottom: 1px solid #999;
	margin-top: 0;
	margin-bottom: 12px;
}

.proceedings h4.time {
	margin-left: 13px;
	margin-top: 0;
	margin-bottom: 10px;
}

.proceedings #abstract_search_results h2 {
	margin-top: 16px;
}

.proceedings li.abstract {
	font-weight: normal;
	font-size: 100%;
}

.abstract .project_title {
	display: block;
	font-weight: bold;
}

.abstract span {
	position: relative;
	padding: 0;
	margin: 0;
}

.abstract_text p {
	line-height: 140%;
	margin: 10px;
}

.status.tag {
	display: none;
}

.checked_in.status.tag {
	display: inline-block;
	margin-left: 5px;
	background: url(../images/icons/silk/accept.png);
	text-indent: 500px;
	height: 16px;
	width: 16px;
	overflow: hidden;
}

.group_members ul small, ul.link-list li small {
	display: block;
	font-weight: normal;
}

dl.inline-definitions {
	margin-top: 1em;
}

dl.inline-definitions dt {
	float: left;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	color: #999;
	margin-left: 0;
	display: block;
	line-height: 1.3em;
}

dl.inline-definitions dd {
	margin: 0;
	margin-bottom: 1em;
	font-size: 100%;
	padding: 2px;
	padding-left: 100px;
}

dl.inline-definitions dd ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/************************************************************************************************/

#preloader {
	display: none;
	background-image: url(../images/iui/loading.gif), url(../images/iui/selection.png),
        url(../images/iui/blueButton.png), url(../images/iui/listArrowSel.png), url(../images/iui/listGroup.png);
}