<h1>Other Nametags
	<span class="light right"><%= link_to "Print", {:format => :pdf}, :class => "icon-left print button" %></span></h1>

<% form_for @event, :url => other_event_nametags_path(@event) do |f| %>

	<p>Add other nametags in the format: <tt>First Line|Second Line|Third Line</tt></p>

	<%= f.text_area :other_nametags, :rows => 30, :style => "width: 99%" %>
	<%= f.submit "Submit", :disable_with => 'Submiting...' %>
	
<% end -%>

<% sidebar :sample %>