<%= title("Volunteer to Staff an Event") %>

<table>
	
	<tr>
		<th>Title</th>
		<th>Volunteer</th>
	</tr>
	
	<% for event in @events %>
	<tr>
		<td><%=h event.title %></td>
		<td><%= link_to "Volunteer", :action => 'event', :id => event %></td>
	</tr>
	<% end -%>
	
</table>