<h4 class="icon-left exclamation">Are You Sure?</h4>
<h1>Are You Sure?</h1>

<p>
  Only press continue if you have spoken with the position supervisor and the times that are available will work with your schedule for the quarter.
</p>
<p>
  Press cancel if you need more time to get in contact with the supervisor or can not make the time commitment.
</p>
