<h4 class="icon-left exclamation">Are You Sure?</h4>
<h1>Are You Sure?</h1>

<p>
  Only press continue if you have emailed the position supervisor and intend to tutor in this position.
</p>
<p>
  Press cancel if you have not yet emailed the position supervisor or are unsure about where you want to tutor.
</p>
