<% div_class ||= "" %>
<div id="favorites_link" class="<%= div_class %>">
  <% if  @pipeline_favorites.size > 0 %>
    <%= link_to "Show your #{pluralize @pipeline_favorites.size, 'favorite'}", 
                {:controller => "pipeline", :action => "favorites"},
                {:class => "pipeline_favorites button"} %>
  <% else %>
    You have no favorites marked. 
    <br />
    Add positions to your favorites to find them again easily.
  <% end %>
</div>