<% div_id ||= "orientation_link" %>

<div id="<%= div_id %>">
<% unless @student.show_pipeline_position_contact? %>
  <% unless @rsvp_event_times.nil? || @rsvp_event_times.empty? %>
    <% if @student_rsvp.nil? %>
        <%= link_to "Sign Up for an Orientation", 
                    {:controller => "pipeline", :action => "orientation_signup"}, 
                     :class => "important_button button" %>
    <% elsif @student_rsvp.checkin_time.nil? %>
        <%= link_to "Change your Orientation RSVP", 
                    {:controller => "pipeline", :action => "orientation_rsvp"}, 
                     :class => "button" %>
    <% end %>
  <% else %>
    There are no orientations currently.
  <% end %>
<% end %>
</div>