<% @pipeline_positions ||= [] %>
<div id="results">
<table id="pipeline_position_results">
  <% for pipeline_position in @pipeline_positions %>
    <%= render :partial => "position_details", 
               :locals => {:pipeline_position => pipeline_position, :hide_functions => false} %>
    
  <% end %>
  <% if @pipeline_positions.size == 0 %>
    <tr>
      <td>
        <div>
          No results. Perform a search or broaden your filters and search again.
        </div>
      </td>
    </tr>
  <% end %>
</table>
</div>