<h1><%= @unit.name %> Confirmation Removal</h1>


<% unless @error %>
<div>
  <h2>Your riverways placement confirmation has been removed.</h2>
  <h3>Thanks for checking in!</h3>
</div>
<% else %>
  <h2>This link did not work!</h2>
<% end %>