<h1>Stop Pipeline Emails</h1>

<% unless @error %>
<div>
  <h2>You are no longer set as an active tutor with Pipeline.</h2>
  <h3>If this was a mistake go to the <%= link_to "Pipeline Search", pipeline_base_path %> page and you will be set as an active pipeline tutor again.</h3>
</div>
<% else %>
  <h2>Sorry, something went wrong. Go to the <%= link_to "Pipeline Search", pipeline_base_path %> page.</h2>
<% end %>