<h3>Shifts
	<span class="right"><%= link_to "see all", event_staff_position_shifts_path(@event, @staff_position) %></span>
	</h3>
<ul class="link-list">
	
	<li><%= link_to "Add New", new_event_staff_position_shift_path(@event, @staff_position), :class => "icon-left add" %></li>
	
	<% for shift in @staff_position.shifts.sort %>
		<li><%= link_to shift.time_detail, event_staff_position_shift_path(@event, @staff_position, shift) %></li>
	<% end -%>
		
</ul>