<div id="add_new_location" class="add_new" style="display:none">

	<% fields_for "service_learning_position[location]", service_learning_position.location do |add_new_location_form| %>
		
		<div id="new_location_fields">
			<%= render :partial => "admin/locations/fields", :locals => {:f => add_new_location_form} %>
		</div>
		
		<%= hidden_field_tag "service_learning_position[location][organization_id]", service_learning_position.organization.id %>
		
	<% end -%>
	
</div>