<h3><strong>Add Committee Meeting</strong></h3>
<ul class="add-links">
	<li><%= link_to "Add new committee #{@committee.meetings_title_display(true)}", new_admin_committee_meeting_path(@committee) %></li>
</ul>