<h1 class="big-icon pages">Options
	<span class="light">&raquo; <%= @question.short_question_title %></span>
	</h1>
	
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Value</th>
			<th style="width: 70px">Functions</th>
		</tr>
	</thead>

	<tbody id="options">
	<%= render :partial => 'option', :collection => @options %>

	<% if @options.empty? %>
		<tr class="empty">
			<td colspan=5>
				No advanced options exist yet. 
				<%= link_to 'Click here to create one.', new_offering_page_question_option_path(@offering, @page, @question) %>
			</td>
		</tr>
	<% end -%>
	</tbody>

</table>