<h1>Position Detail</h1>

	<%= render 	:partial => "admin/service_learning/organizations/positions/position_details",
	 			:locals => { :service_learning_position => @service_learning_position, :admin => false } %>

<h3>Scheduling Details</h3>

	<%= render  :partial => "admin/service_learning/organizations/positions/scheduling_details",
	 			:locals => { :service_learning_position => @service_learning_position, :admin => false} %>

	
<h3>Orientation Details</h3>

	<%= render  :partial => "admin/service_learning/organizations/positions/orientation_details",
	 			:locals => { :service_learning_position => @service_learning_position, :admin => false} %>
	
<br>
<%= link_to "&#x2190; Back to Student Listing", faculty_service_learning_path(:action => 'students', :quarter_abbrev => @quarter) %>