<h3>Search</h3>

<% form_tag url_for(:action => 'search'), :method => :get do %>

	<label for="search_code">Search by Code:</label>
	<%= text_field_tag 'search[code]' %>
	<br>OR<br>
	<label for="search_uw_netid">Search by UW NetID:</label>
	<%= text_field_tag 'search[uw_netid]' %>
	
	<%= submit_tag "Search" %>
	
<% end -%>