<h3>Search</h3>

<% form_tag url_for(:action => 'search'), :method => :get do %>

	<label for="search_uw_netid">Search by uw netID:</label>
	<%= text_field_tag 'search[uw_netid]' %>
	<br>OR<br>
	<label for="search_name">Search by lastname:</label>
	<%= text_field_tag 'search[lastname]' %>
	
	<%= submit_tag "Search" %>
	
<% end -%>