<h2>Equipment Reservations</h2>

<table>

	<% if @person.equipment_reservations.empty? %>
		<tr class="empty">
			<td colspan=4>No equipment reservations.</td>
		</tr>
	<% else %>
		<%= render :partial => "admin/equipment_reservations/equipment_reservation", 
					:collection => @person.equipment_reservations %>
	<% end -%>

</table>