<% fields_for "mentor[answer_attributes][]", answer do |qf| %>

<div>
	<p><b><%= answer.question.question %></b></p>

	<%= error_message_on answer, "answer", "Your answer " %>
	<p class="left-indent">
		<% if answer.question.display_as == "long_response" %>
			<%= qf.text_area :answer %>
		<% else %>
			<%= qf.text_field :answer, :size => answer.question.size %>
		<% end -%>
	</p>
	
</div>

<% end -%>