<tr>
	<td><%= link_to application_mentor.application_for_offering.person.fullname, :action => "mentee", :id => application_mentor %></td>
	<td><%= application_mentor.application_for_offering.offering.title %></td>
	<td><%= strip_tags application_mentor.application_for_offering.project_title %></td>
	<td>
		<%= "<div class='green-check'>X</div>" if application_mentor.letter_received? %>
		<%= "<div class='tag'>Abstract Approved</div>" if application_mentor.approved? %>
	</td>
	<td><%= application_mentor.application_for_offering.status.public_title %></td>
</tr>