<% title @offering.nil? ? "Mentor Review" : "#{@offering.mentor_title.pluralize} Review", @person.fullname %>

<h1>Your Contact Information
	<span class="heading_inline"><%= link_to "Edit your contact information", :action => "update" %></span>
	</h1>
	<%= render :partial => "contact_info" %>

<br>

<h1>Your Mentees</h1>
<p>Below you will find a list of students who have listed you as their mentor. For each student, click on the student's name to submit a letter of support for them.</p>
<table>
	<tr>
		<th>Student Name</th>
		<th>Award</th>
		<th>Project Title</th>
		<th>Letter Received</th>
		<th>Application Status</th>
	</tr>
	
	<%= render :partial => "application_mentor", :collection => @mentor_applications %>
	
	<% if @mentor_applications.empty? %>
	<tr class="empty">
		<td colspan=5>You are not listed as a mentor for any student applications.</td>
	</tr>
	<% end -%>
	
</table>