<ul>
						
	<% OrganizationQuarter::MID_QUARTER_EMAIL_TEMPLATES.each do |display_text, template| %>
	<li>
		<%= link_to display_text, admin_communicate_template_path(template.id), :popup => true %>
		<small>
			- Updated <%= time_ago_in_words(template.updated_at) %> ago by <%= template.updater.fullname rescue "unknown" %>
		</small>
	</li>
	<% end -%>

</ul>