<h3>Formatting</h3>

To insert a placeholder code:
<br>
<code class="highlight">%<em>code</em>%</code>

<br>
<br>

To insert a conditional:
<br>
<code class="blue-background">%?(condition)%?
	<br>&nbsp;&nbsp;&nbsp;text to display
	<br>%?%</code>