<% title(@offering.name, (@offering.quarter_offered.title rescue nil)) %>
<%= render :partial => 'time_left' %>
<%= content_tag('h2', "Cancel Your Application") %>

<fieldset>

	<div class="confirm_cancel">
		<p>Are you sure you want to cancel your application? This operation cannot be undone.</p>
		<%= button_to "Yes, please cancel my application", {:action => :cancel}, {:name => 'confirm_cancel', :id => 'confirm_cancel_button'} %>
	</div>

</fieldset>

<%= render :partial => "sidebar" %>
