<h1><%=h @question.short_question_title %>
	<span class="light right"><%= link_to "Edit", edit_offering_page_question_path(@offering, @page, @question), :class => 'edit button' %></span></h1>

<div class="cmxform big-border box">
	<h4 class="icon-left preview">Preview</h4>

	<small class="light">Note: This preview does not reflect styles and formatting that might be applied on the student side.</small>
	
	<fieldset style="border:none">		
	<%
	begin
		concat render (:partial => 'apply/question', 
						:object => @question, 
						:locals => { 
							:f => nil, 
							:page => @application_page 
						}) 
	rescue => e: concat "<div class=\"icon-left exclamation error-message\">
							Can't generate preview. Maybe you don't have a student record?
						</div>
						<pre class=\"phase error\">#{e.message}</pre>"
	end 
	%>
	</fieldset>
</div>

<dl class="inline-definitions">

	<dt>Type</dt>
	<dd><%= @question.display_as.titleize %></dd>

</dl>

<% sidebar :questions %>