<dl class="inline-definitions">

	<dt>start time</dt>
	<dd><%= f.datetime_select :start_time, :twelve_hour => true, :minute_step => 5 %></dd>

	<dt>end time</dt>
	<dd><%= f.datetime_select :end_time, :include_blank => true, :twelve_hour => true, :minute_step => 5 %></dd>
	
	<dt>details</dt>
	<dd><%= f.text_area :details, :rows => 4 %></dd>

</dl>