<% selected ||= false %>

<% if codes %>
	<li><span class="sort-handle"><span>m</span></span>
		<h3><%= @objects.first.class.to_s.titleize %></h3>
		<ul>	
		<%= render 	:partial => "codes", :object => codes, 
					:locals => { :association_name => @objects.first.class.to_s.titleize, :selected => selected } %>
		</ul>
	</li>
<% end -%>
<% if associations %>
	<% for association in associations %>
		<li><span class="sort-handle"><span>m</span></span>
			<h3><%= association.titleize %></h3>
			<ul>
			<% if codes = eval("(['id'] << @objects.first.#{association}.class::PLACEHOLDER_CODES).flatten") rescue false %>
				<%= render 	:partial => "codes", :object => codes, 
							:locals => { :prefix => association, :association_name => association.titleize, :selected => selected } %>
			<% end -%>
			</ul>
		</li>
	<% end -%>
<% end -%>
