<br>
<h6>Add a custom output field:</h6>

<label for="new_output_field_title">Title:</label>
<%= text_field_tag :new_output_field_title %>

<br>

<label for="new_output_field">Code:</label>
<%= text_field_tag :new_output_field %>

<br>
<%= button_to_function "Add", "addCustomOutputField()" %>