<thead>
	<tr>
		<% 
		for field in @population.output_fields 
			if field.match(/^CUSTOM_OUTPUT_FIELD\((.+)\):(.+)/)
				field_title = field.match(/^CUSTOM_OUTPUT_FIELD\((.+)\):(.+)/)[1].titleize rescue "-ERROR-"
			else
				field_title = field.titleize rescue field
			end
		 	-%>
			<th><div class="sort-icon"><%= field_title %></div></th>
		<% end -%>
	</tr>
</thead>

<tbody>
	<% for object in @population.objects %>
		<tr>
			<% 
			for field in @population.output_fields 
				if field.match(/^CUSTOM_OUTPUT_FIELD\((.+)\):(.+)/)
					code = field.match(/^CUSTOM_OUTPUT_FIELD\((.+)\):(.+)/)[2].to_pdf_octals rescue nil
				else
					code = field
				end
			 	-%>
				<td><%= object.instance_eval(code) rescue nil %></td>
			<% end -%>
		</tr>
	<% end -%>
</tbody>