<h3>Associations</h3>

<ul class="link-list">
	
	<li><%= link_to "Extra Fields to Display (#{@task.extra_fields.size})", 
					offering_phase_task_extra_fields_path(@offering, @phase, @task) %></li>
	
</ul>