<h3>Tasks
	<span class="right light"><%= link_to "see all", offering_phase_tasks_path(@offering, @phase) %></span>
	</h3>

<ul class="link-list">
	
	<% for task in @phase.tasks.sort %>
	<li <%= "class='current'" if @task == task %>>
		<%= link_to task.title, offering_phase_task_path(@offering, @phase, task) %>
	</li>
	<% end -%>
	
</ul>