<h3><strong class="icon-left info">Policies</strong></h3>

<ul class="link-list">
	<li><%= link_to "Full Policy Text", 
				{:action => 'policies'}, 
				:class => 'popup',
				:popup => ['height=600,width=500'] %></li>
</ul>

<%= HelpText.caption(:equipment_policy_highlights, EquipmentReservation) %>

