<div class="toolbar">
    <h1 id="pageTitle">Event Check-in</h1>
    <a id="backButton" class="button" href="#"></a>
</div>

<% form_tag({:action => 'checkin' }, :id => 'search-form', :class => 'panel', :title => "Check-in", :selected => true) do -%>

	<div class="nonmodal-dialog">

		<fieldset class="dialog">
			<label>Name</label>
			<%= text_field_tag 'invitee[fullname]', 
								nil, :class => 'search', 
								:autocomplete => false, 
								:autocorrect => "off",
			       				:autocapitalize => "off" %>

			<%= link_to_function "<span>x</span>", 
								"$('invitee_fullname').clear(); $('invitee_fullname').select()", 
								:class => 'clear-button', :target => "_self" %>
		</fieldset>

		<%= observe_field 'invitee_fullname', 
						:frequency => 0.75, 
						:update => 'results',
						:url => { :action => 'auto_complete', :id => @event },
						:indicator => true,
						:before => "if($F('invitee_fullname')==''){$('results').innerHTML=''; $('indicator').hide(); return false;}",
						:with => 'invitee[fullname]'
						%>

		<%= content_tag 'div', indicator_image + 'Searching...', indicator_options.merge({:class => 'full indicator'}) %>

	</div>

	<ul id="results" class="auto_complete link-list white-background" title="Results"></ul>

<% end -%>