<h3>Approve Position</h3>

<center>
	<% form_for(@service_learning_position, 
	      :url => service_learning_organization_position_path(@unit, @quarter, @organization, @service_learning_position)) do |f| %>
	 	<%= f.submit "Approve this Position" %>
	<% end -%>
</center>