<% current_state = nil %>

<h1>Tickets
	<span class="light right">
		<%= link_to "&#x2190; Previous Page", {:page => params[:page].to_i - 1}, :class => 'button' unless params[:page].to_i < 2 %>
		<%= link_to "Next Page &#x2192;", {:page => (@current_page.to_i + 1)}, :class => 'button' %>
	</span>
	</h1>

<table>
	
	<tr>
		<th>#</th>
		<th>Ticket</th>
		<th>State</th>
	</tr>
	
	<% for ticket in @tickets %>
	
		<% if current_state != ticket.state %>
			<tr class="rowset-header">
				<td colspan=3>
					<%= ticket.state.titleize %>
				</td>
			</tr>
			<% current_state = ticket.state %>
		<% end -%>
	
		<%= render :partial => ticket %>

	<% end -%>
	
</table>
	
<%# sidebar :milestones %>