<% title(@committee.name, "Committee Login") %>

<h1>Welcome, <%= @person.firstname %>.</h1>

<%= textilize @committee.intro_text %>

<div class="yellow box center">
	<center>
	<strong>Please enter your availability on the next page:</strong>
	<%= button_to "Continue →", :action => 'availability' %>
	</center>
</div>

<% sidebar :which %>