<h1>Pipeline Placements</h1>

<%= render :partial => "placements", :locals => {:placements => @pipeline_placements} %>

<% sidebar :pipeline_links %>

<% sidebar "admin/service_learning/positions/sidebar/search" %>

<% sidebar :with_selected %>