<h3>Quick Links</h3>

<ul class="link-list">
	
	<li><%= link_to "Front Desk", admin_front_desk_url, :class => "icon-left front_desk" %></li>
	<li><%= link_to "Participation Overview", admin_stats_overview_url, :class => 'icon-left report' %></li>

</ul>