<h3>Quick Links</h3>

<ul class="link-list">
	<li><%= link_to "Full Login History", history_users_path, :class => 'icon-left list' %></li>
	<li><%= link_to "Units ↔ Roles", units_roles_users_path, :class => 'icon-left access' %></li>
	<li><%= link_to "<span class='admin tag' style='margin-left:0'>admin</span> Admin Users", admin_users_path %></li>
</ul>