<h3>Search</h3>

<% form_tag url_for(:action => 'search'), :method => :get do %>

	<label for="search_login">Username:</label>
	<%= text_field_tag 'search[login]' %>
	
	<%= submit_tag "Search" %>
	
<% end -%>