<% title("Community-Engaged Learning Self Placement Position Form", @quarter.title) %>

<p class="intro"><%= HelpText.caption(:self_placement, ServiceLearningPosition) %></p>
	
<% form_for @student, :url => { :action => "self_placement" } do |f| %>
		
	<%= render :partial => "self_placement", :locals => { :f => f } %>
		
<% end %>