<h1>Templates</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Subject</th>
		<th width=80></th>
	</tr>
	
	<tr class="rowset-header">
		<td colspan=3>E-mail Templates</td>
	</tr>
	<%= render :partial => "text_template", :collection => @email_templates %>

	<tr class="rowset-header">
		<td colspan=3>Plain Text Templates</td>
	</tr>
	<%= render :partial => "text_template", :collection => @non_email_templates %>
	
</table>

<% sidebar :add_new %>