<h1>View Template
	<span class="light">&raquo; <%= @text_template.name.titleize %></span>
	<span class="light right"><%= link_to "Edit", edit_admin_communicate_template_path(@text_template), :class => 'edit button' %></span>
	</h1>

<%= render :partial => "email_preview" %>