<h3>Times
	<span class="right"><%= link_to "see all", event_times_path(@event) %></span>
	</h3>
<ul class="link-list">
	
	<li><%= link_to "Add New", new_event_time_path(@event), :class => "icon-left add" %></li>
	
	<% for time in @event.times.sort %>
		<li><%= link_to time.time_detail, event_time_path(@event, time) %></li>
	<% end -%>
		
</ul>