<%= javascript_include_tag "tablesort" %>

<h1>Accountability Department Coordinators</h1>

<div class="edge-to-edge">
	<table class="sortable" id="sortable-table-0">
		<thead>
			<tr>
				<th width="35%" class="sortfirstasc"><div class="sort-icon">Department</div></th>
				<th width="20%"><div class="sort-icon">ID</div></th>
				<th width="40%"><div class="sort-icon">Authorized Users</div></th>
				<th></th>
			</tr>
		</thead>
		
		<tbody id="department_authorizations_tbody">
			<% for dept, authorizations in @departments %>
				<%= render :partial => 'department', :object => dept, :locals => { :authorizations => authorizations } %>
			<% end -%>
		</tbody>
	</table>
</div>

<% sidebar "admin/accountability/sidebar/navigation", :add_user %>