<li>
		<%= qf.label(question.attribute_to_update, question.question) %>
		
		<%= qf.collection_select(question.attribute_to_update, 
								question.options.sort_by(&:title), 
								:value, 
								:title, 
								{:prompt => true }
								) %>
		
		<%= content_tag('em', '*', :class => 'required') if question.required? %>	
		<%= display_computed_caption(question.caption) if question.caption? %>
</li>