<% title "Undergraduate Research Opportunity Detail" %>
<h3 class="grey">&raquo; for Undergraduate Research Program at UW</h3>


<%= render :partial => "fields" %>

<% content_for :right_sidebar do %>
	<%= render :partial => 'quick_links' %>
	<%= render :partial => 'lookup_form' %>
<% end %>