<h3><strong>Add New Positions</strong></h3>

	<ul class="link-list">
		
		<li><%= link_to "Copy some or all of my positions", copy_from_previous_community_partner_service_learning_positions_path(@quarter),
		:class => "icon-left copy" %>
			</li>
			
		<li><%= link_to "Create a brand new position", new_community_partner_service_learning_position_path(@quarter),
		:class => "icon-left new"  %></li>
		
	</ul>
	