<dl class="inline-definitions">
	
	<dt>salutation</dt>
	<dd><%= contact_info.salutation %></dd>

	<dt>name</dt>
	<dd><%= contact_info.fullname %></dd>

	<dt>email</dt>
	<dd><%= auto_link contact_info.email %></dd>
	
	<dt>phone</dt>
	<dd><%= phone_number contact_info.phone %></dd>
	
	<dt>address</dt>
	<dd><%= address_block contact_info %></dd>
	
</dl>