<h1>Welcome!</h1>
<%= form_tag :action => 'map' %>

<p>Please enter your Community Partner ID Number and temporary passphrase below.</p>

<table class="borderless paddingless highlightless">
	<tr>
		<td>Community Partner ID:</td>
		<td><%= text_field_tag :map %></td>
	</tr>
	
	<tr>
		<td>Temporary Passphrase:</td>
		<td><%= text_field_tag :t %></td>
	</tr>

</table>

<center><%= submit_tag "Log in", :disable_with => "Logging in..." %></center>
	
</form>