<h3>Quick Links</h3>

<ul class="link-list">
	<li><%= link_to "Full opportunities list", research_opportunities_path, :class => 'icon-left list' %></li>
	<li><%= link_to "Edit submit form language", '/admin/help_texts/model?model=ResearchOpportunity', :class => 'icon-left edit' %></li>
</ul>