<span class="light right smaller" style="margin-top:10px">
	<%= check_box_tag :show_globals, true, true %>
	<%= observe_field :show_globals, :function => "if($('show_globals').checked) { 
														$$('.global_role').invoke('show');
													} else {
														$$('.global_role').invoke('hide');
													}" %>
	<label for="show_globals">Show global roles</label>
</span>

<h1>Units ↔ Roles</h1>

<table>
	
	<% for unit in @units %>
		<tr class="rowset-header">
			<td colspan=4><%=h unit.name %></td>
		</tr>
	
		<%= render :partial => 'user_roles', :collection => unit.users.uniq, :locals => { :unit => unit } %>
		
	<% end -%>

</table>

<% sidebar :quick_links, :search %>