<h1>New Page</h1>

<% form_for :page, @page, :url => offering_pages_path(@offering) do |f| %>

	<%= f.error_messages %>

	<%= render :partial => "fields", :locals => { :f => f } %>
	
	<%= f.submit "Create", :disable_with => 'Creating...' %>
	<span class="separator">&mdash; or &mdash;</span>
	<%= link_to 'Cancel', offering_pages_path(@offering) %>

<% end %>
