<dt>title<%= required %></dt>
<dd><%= f.text_field :title %></dd>

<dt>description</dt>
<dd><%= f.text_area :description %></dd>

<dt>location</dt>
<dd><%= f.text_field :location %></dd>

<dt>start date<%= required %></dt>
<dd><%= f.datetime_select :start_date, :minute_step => 15, :include_blank => true, :twelve_hour => true %></dd>

<dt>end date</dt>
<dd><%= f.datetime_select :end_date, :minute_step => 15, :include_blank => true, :twelve_hour => true %></dd>