<tr id="role_<%= role.id %>">
	<td><%=h role.unit ? role.unit.name : "Global" %></td>
	<td><%= role.description.blank? ? role.name : tooltip(role.name, role.description) %></td>
	<td><%= link_to_remote "<span>Remove</span>", 
							{:url => user_role_path(@user, role), 
							:method => :delete,
							:confirm => "Are you sure?",
							:indicator => true},
							:class => "icon-left trash no-text" %></td>
</tr>
