<h3><%= @offering.theme_response_title %></h3>

<ul class="link-list">

	<li><%= link_to "#{@offering.theme_response_instructions} (#{@theme_responders.size})", :anchor => "theme_response" %></li>
	
	<% unless @offering.theme_response2_instructions.blank? %>
		<li><%= link_to "#{@offering.theme_response2_instructions} (#{@theme2_responders.size})", :anchor => "theme_response2" %></li>
	<% end -%>
	
</ul>