<h1>View Student Evaluation</h1>
	
<%= render :partial => "community_partner/service_learning/students/evaluation_form" %>

<br>
<%= link_to "&#x2190; Back to Student Listing", faculty_general_study_path(:action => 'students', :quarter_abbrev => @quarter) %>