<table>
	<!-- <tr>
		<th>Student</th>
		<th>Mentor</th>
		<th>Department</th>
	</tr>
	 -->
	<% for mentor in mentors %>
		<tr>
			<td><%= link_to mentor.application_for_offering.fullname, :action => 'show', :id => mentor.application_for_offering %></td>
			<td><%= mentor.fullname %>
			<td><%= mentor.department %></td>
		</tr>
	<% end %>
</table>
