<h1>Award Letter
	<span class="light">&raquo; <%= @app.person.fullname %></span></h1>
	
<%= form_tag %>

<%= text_area_tag :award_letter_text, @app.award_letter_text, :rows => 40, :cols => 85 %>
<br>

<%= submit_tag "Save" %>

</form>