<h3>Navigation</h3>

<ul class="link-list">

	<li><%= link_to "#{@unit.name} Home", riverways_base_path, :class => "icon-left home" %></li>

	<li><%= link_to "Search for positions", riverways_search_path, :class => 'icon-left search' %></li>

	<li><%= link_to "My Favorites <span id=\"favorite_count\">(#{@pipeline_favorites.size})</span>", 
					riverways_favorites_path, 
					:class => "icon-left favorite" %></li>

</ul>