<h3><strong class="icon-left help">Help</strong></h3>

<p>Listed on this page are all of the upcoming orientation times that are available. Please choose the one you'd like to attend. You can always change your RSVP later.</p>

<p>Once you're done, use the navigation buttons below to return to other pages in the Pipeline Project online system.</p>

